version: 2
updates:
  - package-ecosystem: github-actions
    directory: "/"
    schedule:
      interval: daily
  - package-ecosystem: bundler
    directory: "/"
    schedule:
      interval: weekly
    groups:
      rubocop:
        patterns:
          - "rubocop*"
